body {
  background-color: #f7d5b7;
  font-family: "Montserrat", sans-serif;
}

input[type="search"] {
  background: transparent;
  border: none;
  font-size: clamp(2rem, 8vw, 8rem);
  font-weight: 500;
  padding-bottom: 8px;
  width: 100%;
}

input[type="submit"] {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  display: block;
  padding: 2vw 3vw;
  text-transform: uppercase;
}

li {
  list-style: none;
}

li[class="info"] {
  display: inline-block;
}

.date-time {
  font-size: 75%;
}

.location {
  display: flex;
  font-weight: 500;
  margin-left: -30px;
  margin-top: 60px;
}

.main-weather-icon {
  width: 75%;
  display: block;
  margin: 50px 0;
}

.temperature {
  font-size: 600%;
  font-weight: 800;
}
.tempunits {
  border-bottom: 2px solid #000;
}
.search-city {
  align-items: center;
  border-bottom: 5px solid #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.units {
  font-size: 300%;
  position: relative;
  bottom: 5px;
}
.weather-app {
  margin: 0 20px;
}
